@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', 'Playfair Display', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.custom-hover {
  @apply hover:text-lightpink hover:underline hover:underline-offset-4 hover:decoration-2;
}

.active {
  @apply text-lightpink underline underline-offset-4 decoration-2;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80px;
  height: 8px;
  background: #ddd;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: lightpink;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: lightpink;
  cursor: pointer;
}

